:root{
    --black:#000000;
    --white:#ffffff;
    --cyan:#aedee0;
    --salmon:#ef9d71;
    --gray:rgb(180, 177, 177);
}


body[theme="black"] {
    background-color: var(--black);
}
body[theme="black"] section {
    color: var(--white);
}
body[theme="cyan"] {
    background-color: var(--cyan);
}
body[theme="blue"] section {
    color: var(--black);
}
body[theme="salmon"] {
    background-color: var(--salmon);
}
body[theme="salmon"] section {
    color: var(--black);
}

body[theme="white"] {
    background-color: #ffffff;
}
body[theme="white"] section {
    color: var(--black);
   
}

@font-face {
    font-family: "Neue-Machina";
    src: url(./assets/Neue-Machina.ttf);
}
@font-face {
    font-family: "PPNeue-Machina";
    src: url(./assets/PPNeueMachina_-Light.ttf);
}
@font-face {
    font-family: "satoshi";
    src: url(./assets/Satoshi-Variable.ttf);
}
*::selection{
    background-color: #ef9d71;
}
.vdiv{
    clip-path:circle(var(--clip) at 50% 50%); 
}
body{
    overflow-x:hidden;
    transition: background-color ease-out .5s;
}